body{
  text-align: center;
  background: linear-gradient(to bottom, #808080, black); 
  height: 100vh;
  background-attachment: fixed;
  display: block;
}
nav{
  word-spacing: 40px;
  padding-top: 80px;
}
.herois, .s, .viloes {
   width: 90px;
   height: 90px;
   object-fit: cover;
   position: relative;
   top: -60px;
   padding-top: 0;
   border-radius: 50%;
    box-shadow: 0 0 20px 5px rgba(192, 192, 192, 1.5);
}
.w{
  padding-top: 20px;
}
h2{
  color: white;
  top: 20px;
  text-align: left;
  margin-left: 10px;
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}
p{
  text-align: left;
  color: white;
  margin-left: 10px;
  top: 20px;
}
.satoru{
 width: 150px;
  height: 150px;
  object-fit: cover;
  float: right;
  margin-left: 80px;
  margin-right: 10px;
  position: relative;
  top:-220px; 
  border-radius: 50%;
   box-shadow: 0 0 20px 5px rgba(192, 192, 192, 1.5);
}
.sensei{
    background: linear-gradient(to bottom, #808080, black);
   border-radius: 15%;
   padding: 10px;
}
.linha{
  text-align: center;
  color: black;
}

.n{
   width: 150px;
  height: 150px;
  object-fit: cover;
  float: right;
  margin-left: 80px;
  margin-right: 10px;
  position: relative;
  top:-220px; 
  border-radius: 50%;
   box-shadow: 0 0 20px 5px rgba(192, 192, 192, 1.5);
}
.kugisaki{
    background: linear-gradient(to bottom, #808080, black);
   border-radius: 15%;
   padding: 10px;
   margin-top: 70px;
}
.yuji{
   background: linear-gradient(to bottom, #808080, black);
   border-radius: 15%;
   padding: 10px;
   margin-top: 70px;
}
.y{
   width: 150px;
  height: 150px;
  object-fit: cover;
  float: right;
  margin-left: 80px;
  margin-right: 10px;
  position: relative;
  top:-220px; 
  border-radius: 50%;
   box-shadow: 0 0 20px 5px rgba(192, 192, 192, 1.5);
}
.megumi{
  background: linear-gradient(to bottom, #808080, black); 
   border-radius: 15%;
   padding: 10px;
   margin-top: 70px;
}
.m{
    width: 150px;
  height: 150px;
  object-fit: cover;
  float: right;
  margin-left: 80px;
  margin-right: 10px;
  position: relative;
  top:-220px; 
  border-radius: 50%;
   box-shadow: 0 0 20px 5px rgba(192, 192, 192, 1.5);
}